body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}
div img {
  width: 100%;
}
p {
  color: rgb(168, 165, 165);
}
h1 {
  font-size: 45px;
  color: dimgray;
}
h1 span {
  color: orange;
}
.anchor-button {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(45deg, orange, tomato);
  border-radius: 50px;
  padding: 15px 40px;
  color: white;
}
